
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">{{ projeto.nome }}</h5> <a class="remover-projeto" data-projeto="{{ projeto.id }}" href=""><i class="tim-icons icon-trash-simple"></i></a>
              </div>
              <div class="card-body">




                <div class="content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card card-plain">
                        <div class="card-header">
                          <h4 class="card-title"> Artigos </h4>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table " id="">
                              <thead class=" text-primary">
                                <tr>
                                  <th> </th>
                                  <th>
                                    #
                                  </th>
                                  <th>
                                    Titulo
                                  </th>
                                  <th>
                                    País
                                  </th>
                                  <th>
                                    Resumo
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for artigo in projeto.artigos %}
                                  <tr>
                                    <td>
                                      <a class="remover-artigo" data-artigo="{{artigo.id}}" href=""><i class="tim-icons icon-trash-simple"></i></a>
                                      <a class="editar-artigo" href="/artigo/{{artigo.id}}/editar.html"><i class="tim-icons icon-pencil"></i></a>

                                    </td>
                                    <td>
                                      [{{ artigo.id }}]
                                    </td>
                                    <td>
                                      {{ artigo.titulo }}
                                    </td>
                                    <td>
                                      {{ artigo.country }}
                                    </td>
                                    <td>
                                      {{ artigo.abstract }}
                                    </td>
                                  </tr>
                                {% endfor %}
                             </tbody>
                            </table>
                            <div>
                              <form method="POST" enctype="multipart/form-data" action="/{{projeto.id}}/artigo_upload">
                                {{ artigo_upload.hidden_tag() }}
                                {{ artigo_upload.artigo }}
                                <input type="submit">
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 








                     <div class="content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card card-plain">
                            <div class="card-header">
                              <h4 class="card-title"> Presença de palavras nos resumos </h4>
                            </div>
                            <div class="card-body">
                              <div id="wordcloud" style="height: 500px">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                 











                    <div class="content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card card-plain">
                            <div class="card-header">
                              <h4 class="card-title"> Referências </h4>
                              <a class="btn btn-primary" href="/projeto/{{projeto.id}}/cruzar">Cruzar Referências</a>
                            </div>
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table " id="">
                                  <thead class=" text-primary">
                                    <tr>
                                      <th> </th>
                                      <th>
                                        #
                                      </th>
                                      <th>
                                        Texto
                                      </th>
                                      <th>
                                        Artigo
                                      </th>
                                      <th>
                                        Referências Cruzadas
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for referencia in projeto.referencias %}
                                      <tr id="ref{{referencia.id}}">
                                        <td>
                                          <a class="remover-referencia" data-referencia="{{referencia.id}}" href=""><i class="tim-icons icon-trash-simple"></i></a>
                                          <a class="editar-referencia" href="/referencia/{{referencia.id}}/editar.html"><i class="tim-icons icon-pencil"></i></a>

                                        </td>
                                        <td>
                                          [{{ referencia.id }}]
                                        </td>
                                        <td>
                                          {{ referencia.texto }}
                                        </td>
                                        <td>
                                          {{ referencia.artigo.titulo }}
                                        </td>
                                        <td>
                                          {% for c_ref in referencia.cross_ref %}
                                            <a href="#ref{{c_ref.referencia_cruzada.id}}">[{{c_ref.referencia_cruzada.id}}]</a> 
                                          {% endfor %}
                                        </td>
                                      </tr>
                                    {% endfor %}
                                 </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>










              </div>
            </div>
          </div>
        </div>

  <script>
    anychart.onDocumentReady(function() {
      var words = anychart.data.set([
        {% for p in palavras %}
          {% if not p.deleted %}
            { x: "{{ p.palavra }}", value: {{ p.rank }}, id: {{ p.id }} },
          {% endif %}
        {% endfor %}
      ])


      var chart = anychart.tagCloud()

      chart.data(words)

      chart.angles([0])
      chart.colorRange(true)
      chart.colorRange().length('80%')
      chart.container("wordcloud")
      chart.scale(anychart.scales.log())
      chart.listen("pointDblClick", function (e) {
        e.preventDefault()
        const r = confirm('deseja excluir esta palavra?')
        if (r) {
          const palavra = e.point.get("id")
          window.location.replace("/palavra/" + palavra + "/delete");
        } else {

        }
      })
      chart.background().fill("#27293d")
      chart.draw()
        
      
    })
  </script>
